<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['inicio']">Subastala Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActivate="activate">
        <a class="nav-link" [routerLink]="['inicio']">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActivate="activate">
        <a class="nav-link" [routerLink]="['movie']">Crear Película</a>
      </li>
      <li class="nav-item" routerLinkActivate="activate">
        <a class="nav-link" [routerLink]="['addImage']">Agregar Imágenes</a>
      </li>      
    </ul>
  </div>
</nav>