
<div class="card-container">

  <div class="row">
  
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="https://s3.amazonaws.com/subastala/movie.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Agrege una película</h5>
          <p class="card-text">Mediante esta funcionalidad se permite agregar una película con ayuda de un formulario</p>
          <a href="#" class="btn btn-primary">Agregar Película</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="https://s3.amazonaws.com/subastala/imagen.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Agregue imágenes a su película</h5>
          <p class="card-text">Mediante esta funcionalidad se permite agregar imágenes a las películas con ayuda de un uploader file button.</p>
          <a href="#" class="btn btn-primary">Subir Imagen</a>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  
  <br>
  <br>
  <div class="card mb-3">
    <img class="card-img-top" src="https://s3.amazonaws.com/subastala/full-stack-web-developer.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Test de desarrollo Full Stack</h5>
      <p class="card-text">Aplicación construida con FLASK en el backend y ANGULAR 6+ para el frontend, que permite crear peliculas y almacenarlas en una base de datos SQLITE y además permite agregar las imagenes que desee a cada película; cada imagen se agrega a un bucket S3 de AWS de donde se extraen por URL para su visualización.</p>
      <p class="card-text"><small class="text-muted">Anderson Rodriguez</small></p>
    </div>
  </div>